:local .omsInputGroupControl {
    display: flex;
    flex-direction: column;
}
:local .omsInputGroupInput {
    margin-bottom: 5px;
}

:local .omsInputGroupButton {
    padding: 12px 20px;
    margin-bottom: 0;
}

:local .omsInputGroupTitle {
    margin: 10px 0;
}